/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--content-width: 55rem;
	--narrow-content-width: 40rem;
	--dropdown-symbol-width: 0.7em;

	/* Typography */
	--global-font-family: "proxima-nova", serif;
	--highlight-font-family: "proxima-nova", "Helvetica Neue", "Arial Narrow",
		sans-serif;
	--global-font-size: 20;
	--global-font-line-height: 1.4;

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);

	/* Colors */
	--global-font-color: #333;
	--border-color-dark: #333;
	--border-color-light: #ccc;

	/* --color-link: #d2232a;
	--color-link-visited: #d2232a; */
	--color-link-active: #83a3b3;
	--color-quote-border: #000;
	--color-quote-citation: #6c7781;

	/* Custom editor colors */
	--color-theme-primary: #a8d1e4;
	--color-theme-secondary: #90b4c5;
	--color-theme-red: #c0392b;
	--color-theme-bright-red: #d2232a;
	--color-theme-green: #27ae60;
	--color-theme-blue: #2980b9;
	--color-theme-yellow: #f1c40f;
	--color-theme-black: #1c2833;
	--color-theme-dark-black: #000;
	--color-theme-grey: #95a5a6;
	--color-theme-white: #ecf0f1;
	--color-custom-daylight: #97c0b7;
	--color-custom-sun: #eee9d1;
}
