/**
 * Custom styles for the front-page.php template.
 */

._df_thumb {
	width: 100%;
	height: 560px;
	margin-top: 0;
}

.dflip-books {
	margin-top: 1.2rem;
}

._df_book-cover {
	background-size: cover;
}

.entry-header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 7fr;
	grid-template-areas:
		"photo category"
		"photo title";
	row-gap: 0.5rem;
	column-gap: 3rem;
	margin: 0;
}

.post-thumbnail img {
	height: auto;
	width: auto;
}

.wp-post-image {
	width: 100%;
	height: auto;
}

.entry-title {
	grid-area: title;
	margin: 0;
	margin-bottom: 1rem;
}

.entry-footer {
	grid-area: category;
	height: 0;
	padding: 0;
	margin: 0;
	border-bottom: 0;
}

.entry-taxonomies {
	height: 0;
}

.site-header {
	padding-bottom: 0;
}

h2 {
	margin-top: 0;
}

.category-links {
	font-weight: 600;
}

.post-2 > .entry-footer > .entry-taxonomies > .category-links {
	display: none;
}

#click {
	position: absolute;
	z-index: 1;
	background-color: var(--color-theme-primary);
	width: 120px;
	height: 120px;
	border-radius: 500px;
	text-align: center;
	margin-top: 10px;
	left: -3em;
	font-weight: 600;
}

#click:hover {
	filter: drop-shadow(5px 5px 5px #333);
	transition: 0.2s;
	color: black;
}

#start {
	font-size: var(--font-size-small);
	margin-top: 17px;
}

#main {
	line-height: 1.15;
}

.from-recent-issues {
	margin-top: 2rem;
}

.recent-issue-list {
	display: flex;
	justify-content: center;
}

.edition-ancestor {
	position: relative;
}

@media (max-width: 1100px) {
	._df_thumb {
		height: 550px;
	}
}

@media (max-width: 1300px) and (min-width: 1101px) {
	._df_thumb {
		height: 650px;
	}
}

.front_cover:hover {
	filter: drop-shadow(5px 5px 5px #333);
	transition: 0.2s;
}

#colophon {
	width: 100%;
}

@media (max-width: 599px) {
	#click {
		margin-top: 30px;
		left: -2em;
	}
}
