/**
 * Styling for past issues.
 **/

.dflip-books {
	display: grid;
}

@media (min-width: 721px) {
	.dflip-books {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (max-width: 720px) {
	.dflip-books {
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 470px) {
	.dflip-books {
		grid-template-columns: 1fr;
	}
}

._df_book-cover {
	background-size: cover;
}

._df_thumb {
	height: 370px;
	width: auto;
}

.title-line::after {
	top: -10px;
}
