/**
 * Styling for past issues.
 **/

.dflip-books {
	display: grid;
}

@media (min-width: 721px) {
	.dflip-books {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (max-width: 720px) {
	.dflip-books {
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 470px) {
	.dflip-books {
		grid-template-columns: 1fr;
	}
}

._df_book-cover {
	background-size: cover;
}

._df_thumb {
	height: 370px;
	width: auto;
}

h1 {
	margin-bottom: 0;
	margin-top: 1rem;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
}

h1::before {
	content: "";
	border-top: none;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHUlEQVQYV2NkwAIYGRgY/jMwMIBoOEDhwESJFwQAUaABBqhlwJ0AAAAASUVORK5CYII=);
	top: 10px;
}

h1::after {
	content: "";
	border-top: none;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHUlEQVQYV2NkwAIYGRgY/jMwMIBoOEDhwESJFwQAUaABBqhlwJ0AAAAASUVORK5CYII=);
	top: -1px;
	margin-left: 1rem;
	padding-right: 100%;
}
